body {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f48fb1;
}

h1 {
	text-align: center;
	color: #880e4f;
	font-size: 100px;
}

#text {
	height: 60px;
	width: 100%;
	font-size: 30px;
	box-shadow: 8px 8px 12px #555;
	margin-bottom: 50px;
}

/*.view{
	border-width: 1px; 
 	padding: 5px 2px 5px 0px; 	
 	border-color: #bdbdbd; 
}*/

.done {
	text-decoration: line-through;
}

div.list {
	background-color: #fafafa;
	width: 450px;
	height: 40px;
	margin: auto;
	padding-top: 15px;
	border-style: solid;
	border-color: #555;
}

.menu {
	display: inline-block;
}
	
#menus {
	width: 500px;
	margin: auto;
}

li {
	list-style-type : none;
}

#boite {
	width: 600px;
}

.list input {
	margin-right: 15px;
	margin-left: 10px;
}

footer {
	text-align: center;
	margin-top: 50px;
}

.croix {
	background-color: white;
	float: right;
	border:0px none;
	padding-right: 15px;
	color: white;
	font-size: 20px;
}

.croix:hover {
	color: black;
}